.bg{
  background-color: #3A8D9D;
  margin: 100px;
  padding: 60px
}
.title{
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(#a9a9a9,#FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 20px;
  margin-bottom: 100px;

}
.box {
  padding-bottom: 20px;
  /* border: 1px solid black; */
  background-color: white;
  width: 300px;
  height: 500px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  border-radius: 4px;
}
.box .score {
  margin-top: auto;
}
.box.win {
  box-shadow: inset 0 0 0 4px yellowgreen;
}

.box.lose {
  box-shadow: inset 0 0 0 4px lightcoral;
}

.item-img {
  width: 200px; 

  object-fit: cover; 
  align-self: center;
}

.main{
  display: flex;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #cfeef4;
  color: darkslategray;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #88BECF;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.reset-button {
  background-color: #9FD5E0; 
  color: darkslategray;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.reset-button:hover {
  background-color: #88BECF; 
  color: #000000; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
.reset-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.item-img.win {
  animation: bounce 1s 3;
}